* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
}

#root > div {
  width: 100%;
  height: 100%;
}

.nav {
  position: absolute;
  z-index: 99;
  top: 10px;
  left: 10px;
  color: #ffffff;
}

.nav a {
  color: inherit;
  text-decoration: none;
}